.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f05a5a;
    padding: 0 20px;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    button {
      padding: 5px 10px;
      border: none;
      background-color: #f44336;
      color: white;
      cursor: pointer;
      border-radius: 2rem;
      
      &:hover {
        background-color: #d32f2f;
      }
    }

    img{
      display: flex;
      flex-direction: row;
      height: 100px;
      width: 100px;
    }
    
    h1 {
      font-size: 3em;
      font-family: 'Quicksand', sans-serif;
      color: antiquewhite;
     }
  
    .logo a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }
  
    .navigation {
      .user-info {
        span {
          margin-right: 10px;
        }      
      }
    }
  }
  